<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165415647568-i7nshsh7lg9cc3q33ouhm8vi9e7l805p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165415647568-i7nshsh7lg9cc3q33ouhm8vi9e7l805p</string>
	<key>API_KEY</key>
	<string>AIzaSyBRRvDYRnBy8HPtoWIPI4YMW4eT8HtIgZw</string>
	<key>GCM_SENDER_ID</key>
	<string>165415647568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kandelvijaya.OrgNoteAppClient</string>
	<key>PROJECT_ID</key>
	<string>orgnoteapp</string>
	<key>STORAGE_BUCKET</key>
	<string>orgnoteapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165415647568:ios:3eabdac6dcad24a6</string>
	<key>DATABASE_URL</key>
	<string>https://orgnoteapp.firebaseio.com</string>
</dict>
</plist>